/* Styles for the Home page container */
.container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Styles for the header section on the Home page */
  .header {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
/* Styles for the profile image */
  .profileImage {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  /* Styles for the title on the Home page */
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Styles for the introductory text on the Home page */
  .intro {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #555;
  }
  
  /* Styles for buttons on the Home page */
  .button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0070f3;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 1rem; /* Add margin to separate from GitHub button */
  }
  
  /* Styles for buttons on hover */
  .button:hover {
    background-color: #005bb5;
  }
  
  /* Styles for GitHub button */
  .githubButton {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  /* Styles for GitHub button on hover */
  .githubButton:hover {
    background-color: #444;
  }
  